@charset "UTF-8";
body {
  font-family: 'PT Sans', sans-serif, 'Noto Sans JP', sans-serif;
}

wrapper {
  width: 1920px;
  margin: 0 auto;
}

header {
  width: 1920px;
  height: 120px;
}

header ul {
  font-size: 25px;
  display: flex;
  font-weight: bolder;
}

header ul li {
  margin-right: 40px;
  height: 30px;
  margin-top: 45px;
}

header ul li a {
  line-height: 30px;
  color: black;
  text-decoration: none;
  display: block;
}

header ul li a:hover {
  display: block;
  line-height: 30px;
  color: #fff;
  background-color: #000;
}

header ul li:first-child {
  margin-right: auto;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 458px;
  height: 71px;
  margin-top: 23px;
  margin-left: 30px;
}

main {
  width: 1920px;
  height: 1196px;
  background-image: url(../images/topimg.png);
}

main h2 {
  font-size: 60px;
  color: #fff;
  padding-top: 657px;
  padding-left: 50px;
}

section.news {
  width: 1920px;
  height: 1500px;
}

section.news h3 {
  transform: rotate(-20deg);
  font-size: 100px;
}

section.news ul {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

section.news ul li {
  width: 480px;
  height: 790px;
  font-size: 35px;
  line-height: 43px;
}

section.news ul li p {
  margin-top: 45px;
  margin-bottom: 20px;
}

section.news p.more {
  margin: 0 auto;
  text-align: center;
  margin-top: 170px;
  font-size: 35px;
  line-height: 90px;
  border-radius: 170px;
  width: 340px;
  height: 90px;
  border: 2px  black solid;
}

section.story {
  width: 1653px;
  height: 1368px;
  background-image: url(../images/story_thum.png);
  margin: 0 auto;
}

section.story h3 {
  transform: rotate(-20deg);
  font-size: 100px;
  text-indent: -95px;
  padding-top: 150px;
}

section.story p {
  width: 412px;
  height: 556px;
  background-color: #fff;
  font-size: 20px;
  line-height: 33px;
  padding: 36px 27px;
  margin-top: 400px;
  margin-left: 100px;
}

section.story p span {
  font-weight: bold;
}

section.product {
  width: 1920px;
  height: 1400px;
}

section.product h3 {
  margin-left: 50px;
  transform: rotate(-20deg);
  font-size: 100px;
}

section.product ul {
  width: 1760px;
  margin-left: 110px;
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
}

section.product ul li {
  margin-right: 60px;
  margin-bottom: 85px;
  font-size: 40px;
  width: 380px;
  height: 496px;
}

section.product ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}

section.product ul li a:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

section.product ul li a p {
  font-size: 40px;
}

section.product ul li span {
  font-size: 15px;
  margin-left: 290px;
}

section.product ul li p.ruby1:after {
  display: block;
  content: 'ブリックカップ';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby2:after {
  display: block;
  content: 'ブリックテーブル';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby3:after {
  display: block;
  content: 'スカイフィルム 180SIL';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby4:after {
  display: block;
  content: 'ワイヤーフレームライト';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby5:after {
  display: block;
  content: 'AL ソリッドペグ 20/30';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby6:after {
  display: block;
  content: 'スカイフィルム 200SIL';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby7:after {
  display: block;
  content: '焚き火ツールラップ';
  font-size: 15px;
  padding-top: 5px;
}

section.product ul li p.ruby8:after {
  display: block;
  content: '2mm ラインセット';
  font-size: 15px;
  padding-top: 5px;
}

img.top {
  margin-left: 1700px;
  margin-top: 200px;
}

.bg {
  background-image: url(../images/backgroundimg.png);
  width: 1920px;
  height: 2100px;
}

div.BrickCup {
  width: 1520px;
  height: 540px;
  padding-top: 156px;
  margin: 0 auto;
}

div.BrickCup div.explanation {
  font-size: 23px;
  line-height: 35px;
  width: 700px;
  height: 532px;
  float: right;
}

div.BrickCup div.explanation h4 {
  line-height: 85px;
  font-size: 80px;
  position: relative;
}

div.BrickCup div.explanation h4 span {
  margin-top: 0;
  position: absolute;
  top: 50px;
  font-size: 20px;
}

div.BrickCup div.explanation p.tax {
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 30px;
  margin-top: 50px;
}

div.BrickCup div.explanation p.buy {
  width: 193px;
  height: 43px;
  font-size: 28px;
  text-align: center;
  margin-top: 85px;
  margin-left: 500px;
  border: 1px black solid;
  line-height: 43px;
}

div.howto1 {
  width: 1920px;
  height: 1062px;
  background-color: #E1FFE0;
  margin-top: 200px;
  border: 1px red solid;
  position: relative;
}

div.howto1 div.howto2 {
  padding-top: 100px;
  margin-right: 150px;
}

div.howto1 div.howto2 ul {
  display: flex;
  justify-content: flex-end;
}

div.howto1 div.howto2 ul li {
  margin-left: 160px;
  width: 540px;
  height: 370px;
  font-size: 20px;
  line-height: 40px;
}

div.howto1 div.howto2 ul li span {
  text-indent: -80px;
  display: block;
  font-size: 65px;
}

div.howto1 div.howto2 ul li img {
  position: absolute;
  top: -70px;
}

div.howto1 div.howto3 ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 145px;
  margin-top: 200px;
}

div.howto1 div.howto3 ul li {
  margin-right: 245px;
  width: 540px;
  height: 370px;
  font-size: 20px;
  line-height: 40px;
}

div.howto1 div.howto3 ul li span {
  text-indent: -80px;
  display: block;
  font-size: 65px;
}

p.buy2 {
  width: 193px;
  height: 43px;
  font-size: 28px;
  line-height: 43px;
  text-align: center;
  margin: 0 auto;
  border: 1px black solid;
  margin-top: 235px;
}

div.bg2 {
  width: 1920px;
  height: 1157px;
  background-image: url(../images/backgroundimg.png);
  overflow: hidden;
}
